# Compiled class files
*.class

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Maven target
target/

# IDE files
*.iml
.idea/
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db
